.examples {
  padding-top: 50px;
}

.main {
  padding: 20px;

  .page-header {
    margin-top: 0;
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  li > a {
    padding-right: 20px;
    padding-left: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  .active > a {
    color: #fff;
    background-color: #428bca;

    &:hover {
      color: #fff;
      background-color: #428bca;
    }
  }
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}