<!doctype html>
<html class="no-js" lang="en" ng-app="ngVisApp">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AngularVis</title>
  <link rel="stylesheet" href="bower_components/foundation/css/foundation.css"/>
  <link rel="stylesheet" href="bower_components/vis/dist/vis.min.css"/>
</head>
<body ng-controller="appController">

<nav class="top-bar" data-topbar="">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="#">AngularVis</a>
      </h1>
    </li>
  </ul>
</nav>

<br/><br/>

<div class="row">

  <div class="large-3 medium-4 columns">
    <div class="hide-for-small">
      <div class="sidebar">
        <h5>Examples</h5>

        <nav>
          <ul class="side-nav">
            <li class="heading">Timeline</li>

            <li><a ng-click="setExample('basic_usage')">basic usage</a></li>
            <li><a ng-click="setExample('interactive')">interactive</a></li>
            <li><a ng-click="setExample('a_lot_of_data')">a lot of data</a></li>
            <li><a ng-click="setExample('html_data')">html data</a></li>
            <li><a ng-click="setExample('groups')">groups</a></li>
            <li><a ng-click="setExample('event_listeners')">event listeners</a></li>
            <li><a ng-click="setExample('custom_time_bar')">custom time bar</a></li>
            <li><a ng-click="setExample('edit_items')">edit items</a></li>
            <li><a ng-click="setExample('order_groups')">order groups</a></li>
            <li><a ng-click="setExample('limit_move_and_zoom')">limit move and zoom</a></li>
            <li><a ng-click="setExample('points')">points</a></li>
            <li><a ng-click="setExample('custom_styling')">custom styling</a></li>
            <li><a ng-click="setExample('past_and_future')">past and future</a></li>
            <li><a ng-click="setExample('a_lot_of_grouped_data')">a lot of grouped data</a></li>
            <li><a ng-click="setExample('item_class_names')">item class names</a></li>
            <li><a ng-click="setExample('navigation_menu')">navigation menu</a></li>
            <li><a ng-click="setExample('data_serialization')">data serialization</a></li>

            <!--<li class="divider"></li>-->
            <!--<li class="heading">Structure</li>-->
          </ul>
        </nav>

      </div>
    </div>
  </div>

  <div class="large-9 medium-8 columns">

    <article ng-controller="basicUsage">
      <h2>Basic Usage</h2>
      <div data="data" options="options" vis-time-line></div>
    </article>

  </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script src="bower_components/vis/dist/vis.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/angular-vis.js"></script>
<script src="js/app.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
