<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li ng-repeat="example in examples"
        ng-class="(exampleIndex == $index + 1) && 'active'">
      <a ng-click="setExample($index + 1)">{{example}}</a>
    </li>
  </ul>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
     ng-switch="exampleIndex">

  <h1 class="page-header">Graph examples</h1>

  <!--01. Basic usage-->
  <section ng-switch-when="1">
    <h3 class="sub-header">01. Basic usage</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--02. Random nodes-->
  <section ng-switch-when="2">
    <h3 class="sub-header">02. Random nodes</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--03. Images-->
  <section ng-switch-when="3">
    <h3 class="sub-header">03. Images</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--04. Shapes-->
  <section ng-switch-when="4">
    <h3 class="sub-header">04. Shapes</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--05. Social network-->
  <section ng-switch-when="5">
    <h3 class="sub-header">05. Social network</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--06. Groups-->
  <section ng-switch-when="6">
    <h3 class="sub-header">06. Groups</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--07. Selections-->
  <section ng-switch-when="7">
    <h3 class="sub-header">07. Selections</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--08. Mobile friendly-->
  <section ng-switch-when="8">
    <h3 class="sub-header">08. Mobile friendly</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--09. Sizing-->
  <section ng-switch-when="9">
    <h3 class="sub-header">09. Sizing</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--10. Multiline text-->
  <section ng-switch-when="10">
    <h3 class="sub-header">10. Multiline text</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--11. Custom style-->
  <section ng-switch-when="11">
    <h3 class="sub-header">11. Custom style</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--12. Scalable images-->
  <section ng-switch-when="12">
    <h3 class="sub-header">12. Scalable images</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--13. Dashed lines-->
  <section ng-switch-when="13">
    <h3 class="sub-header">13. Dashed lines</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--14. Dot language-->
  <section ng-switch-when="14">
    <h3 class="sub-header">14. Dot language</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--15. Playground-->
  <section ng-switch-when="15">
    <h3 class="sub-header">15. Playground</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--16. Dynamic data-->
  <section ng-switch-when="16">
    <h1 class="page-header">16. Dynamic data</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--17. Network info-->
  <section ng-switch-when="17">
    <h3 class="sub-header">17. Network info</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--18. Fully random nodes clustering-->
  <section ng-switch-when="18">
    <h3 class="sub-header">18. Fully random nodes clustering</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--19. Scale free graph clustering-->
  <section ng-switch-when="19">
    <h3 class="sub-header">19. Scale free graph clustering</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--20. Navigation-->
  <section ng-switch-when="20">
    <h3 class="sub-header">20. Navigation</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--21. Data manipulation-->
  <section ng-switch-when="21">
    <h3 class="sub-header">21. Data manipulation</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--22. Les miserables-->
  <section ng-switch-when="22">
    <h3 class="sub-header">22. Les miserables</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--23. Hierarchical layout-->
  <section ng-switch-when="23">
    <h3 class="sub-header">23. Hierarchical layout</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--24. Hierarchical layout predefined-->
  <section ng-switch-when="24">
    <h3 class="sub-header">24. Hierarchical layout predefined</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--25. Physics configuration-->
  <section ng-switch-when="25">
    <h3 class="sub-header">25. Physics configuration</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--26. Graphviz gallery-->
  <section ng-switch-when="26">
    <h3 class="sub-header">26. Graphviz gallery</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

</div>