<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li ng-repeat="example in examples"
        ng-class="(exampleIndex == $index + 1) && 'active'">
      <a ng-click="setExample($index + 1)">{{example}}</a>
    </li>
  </ul>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
     ng-switch="exampleIndex">

  <div class="btn-group pull-right">
    <button type="button"
            class="btn btn-default"
            ng-click="loadData('simple')">Simple</button>
    <button type="button"
            class="btn btn-default"
            ng-click="loadData('grouped')">Grouped</button>
  </div>

  <h1 class="page-header">Timeline examples</h1>

  <div data="data"
       options="options"
       timeline="timeline"></div>
  <!--<time-line items="items" timeline="timeline"></time-line>-->
  <hr/>

  <!--01. Basic usage-->
  <section ng-switch-when="1">
    <h3 class="sub-header">01. Basic usage</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--02. Interactive-->
  <section ng-switch-when="2">
    <h3 class="sub-header">02. Interactive</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Drag items around, create new items, and remove items.</p>
      </div>
    </div>
  </section>

  <!--03. Lots of data-->
  <section ng-switch-when="3">
    <h3 class="sub-header">03. Lots of data</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--04. HTML data-->
  <section ng-switch-when="4">
    <h3 class="sub-header">04. HTML data</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--05. Groups-->
  <section ng-switch-when="5">
    <h3 class="sub-header">05. Groups</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--06. Event listeners-->
  <section ng-switch-when="6">
    <h3 class="sub-header">06. Event listeners</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--07. Custom time bar-->
  <section ng-switch-when="7">
    <h3 class="sub-header">07. Custom time bar</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--08. Edit items-->
  <section ng-switch-when="8">
    <h3 class="sub-header">08. Edit items</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--09. Order groups-->
  <section ng-switch-when="9">
    <h3 class="sub-header">09. Order groups</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--10. Points-->
  <section ng-switch-when="10">
    <h3 class="sub-header">10. Points</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--11. Custom styling-->
  <section ng-switch-when="11">
    <h3 class="sub-header">11. Custom styling</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--12. Past and future-->
  <section ng-switch-when="12">
    <h3 class="sub-header">12. Past and future</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--13. Lots of grouped data-->
  <section ng-switch-when="13">
    <h3 class="sub-header">13. Lots of grouped data</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

  <!--14. Item class names-->
  <section ng-switch-when="14">
    <h3 class="sub-header">14. Item class names</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Some content</p>
      </div>
    </div>
  </section>

</div>