<!-- Docs master nav -->
<header class="navbar navbar-fixed-top bs-docs-nav" id="top" role="banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" ng-click="setPage('Timeline')" class="navbar-brand">AngularJS-VisJS</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">

        <li class="active">
          <a href="" ng-click="setPage('Timeline')">Timeline</a>
        </li>

        <li>
          <a href="" ng-click="setPage('Graph')">Graph</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!--<li>-->
          <!--<a scrollto="" href="#gettingStarted">Getting Started</a>-->
        <!--</li>-->
        <li class="dropdown">
          <a class="dropdown-toggle" href="" data-toggle="dropdown">
            Examples
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a scrollto="" ng-href="#timeline01">01. Basic usage</a></li>
            <li><a scrollto="" ng-href="#timeline02">02. Interactive</a></li>
            <li><a scrollto="" ng-href="#timeline03">03. Lots of data</a></li>
            <li><a scrollto="" ng-href="#timeline04">04. HTML data</a></li>
            <li><a scrollto="" ng-href="#timeline05">05. Groups</a></li>
            <li><a scrollto="" ng-href="#timeline06">06. Event listeners</a></li>
            <li><a scrollto="" ng-href="#timeline07">07. Custom time bar</a></li>
            <li><a scrollto="" ng-href="#timeline08">08. Edit items</a></li>
            <li><a scrollto="" ng-href="#timeline09">09. Order groups</a></li>
            <li><a scrollto="" ng-href="#timeline10">10. Points</a></li>
            <li><a scrollto="" ng-href="#timeline11">11. Custom styling</a></li>
            <li><a scrollto="" ng-href="#timeline12">12. Past and future</a></li>
            <li><a scrollto="" ng-href="#timeline13">13. Lots of grouped data</a></li>
            <li><a scrollto="" ng-href="#timeline14">14. Item class names</a></li>
          </ul>
        </li>
        <!--<li>-->
        <!--<a scrollto="" href="#api">API</a>-->
        <!--</li>-->
      </ul>
    </nav>
  </div>
</header>


<main class="bs-docs-masthead" id="content" role="main">
  <div class="container-fluid">
    <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline glyphicon glyphicon-time"></span>

    <p class="lead">Timeline component.</p>

    <!--<p class="lead">-->
    <!--<a href="#" class="btn btn-outline-inverse btn-lg">Download AngularJS-VisJS</a>-->
    <!--</p>-->

    <!--<p class="version">Currently v3.2.0</p>-->
  </div>
</main>


<div class="bs-docs-featurette" id="timeline01">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">01. Basic usage</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline02">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">02. Interactive</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline03">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">03. Lots of data</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline04">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">04. HTML data</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline05">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">05. Groups</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline06">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">06. Event listeners</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline07">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">07. Custom time bar </h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline08">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">08. Edit items</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline09">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">09. Order groups</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline10">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">10. Points</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline11">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">11. Custom styling</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">12. Past and future</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline13">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">13. Lots of grouped data</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>


<div class="bs-docs-featurette" id="timeline14">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">14. Item class names</h2>

        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>