<main class="bs-docs-masthead" id="content" role="main">
  <div class="container-fluid">
    <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline glyphicon glyphicon-time"></span>

    <p class="lead">Timeline component.</p>

    <!--<p class="lead">-->
    <!--<a href="#" class="btn btn-outline-inverse btn-lg">Download AngularJS-VisJS</a>-->
    <!--</p>-->

    <!--<p class="version">Currently v3.2.0</p>-->
  </div>
</main>


<div class="bs-docs-featurette" id="timeline01">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">01. Basic usage</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline02">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">02. Interactive</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline03">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">03. Lots of data</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline04">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">04. HTML data</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline05">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">05. Groups</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline06">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">06. Event listeners</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline07">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">07. Custom time bar </h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline08">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">08. Edit items</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline09">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">09. Order groups</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline10">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">10. Points</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline11">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">11. Custom styling</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline12">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">12. Past and future</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline13">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">13. Lots of grouped data</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>



<div class="bs-docs-featurette" id="timeline14">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="bs-docs-featurette-title">14. Item class names</h2>
        <p class="lead">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own
          with our growing <a href="../getting-started/#examples">collection of examples</a> or by exploring some of our
          favorites.</p>
        <hr class="half-rule">
        <p class="lead">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>
        <a href="http://expo.getbootstrap.com" class="btn btn-outline btn-lg">Explore the Expo</a>
      </div>
    </div>
  </div>
</div>